<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="https://img.icons8.com/pastel-glyph/64/000000/source-code--v3.png" />
      <a class="navbar-brand">QC</a>

    </div>
    <a class="navbar-brand" href="/logout">
      Logout
    </a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 >Welcome <span class="member-name"></span></h2>
    </div>
  </div>
  <div class="row">
    {{!-- aside --}}
    <aside class="col-md-3">

      <div class="card recentview">
        <div class="card-body">
          <h5 class="card-title">Your Code</h5>
            <select class="form-control" id="personalfilter">
              <option value="htmlembedded">HTML</option>
              <option value="css">CSS</option>
              <option value="handlebars">Handlebars</option>
              <option value="javascript">JavaScript</option>
              <option value="markdown">Markdown</option>
              <option value="sql">SQL</option>
            </select><br>
            <button class="btn personalbtn my-2 ">Submit</button>
          <div id="personalcontainer"></div>
        </div>
      </div>
    </aside>
    <article class="col-md-6">
      <!-- bio/mission section -->

      <div class="card mb-3 border-0 bg-light mainform">
        <div id="parent">
          <div id="editor"></div>
        </div>



        <div class="card-body">
          <div class="form-group mr-3 ml-3 mt-2">
            <label for="formGroupExampleInput2">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Code Title">
          </div>

          <div class="form-group" >
            <label for="exampleFormControlSelect1">Select a Language</label>
            <select class="form-control" id="languageSelect">
              <option value="htmlembedded">HTML</option>
              <option value="css">CSS</option>
              <option value="handlebars">Handlebars</option>
              <option value="javascript">JavaScript</option>
              <option value="markdown">Markdown</option>
              <option value="sql">SQL</option>
            </select>
          </div>
          <div class="form-group mr-3 ml-3 mt-2">
            <label for="addKeywords">Add Keywords</label>
            <input type="text" class="form-control" id="addKeywords" placeholder="object, loop, card, etc">
          </div>
          <div class="form-group" id="privateSelectForm">
            <label for="privateSelectForm">Save as Private Code or Public Code?</label>
            <select class="form-control" id="privateSelect">
              <option value="0">Private Code</option>
              <option value="1">Public Code</option>
            </select>
          </div>
          <button type="submit" id= "savecode" class="btn">Save to your Library</button>
        </div>
      </div>
    </article>
    <aside class="col-md-3 codesearch">
      <div class="card mb-3 border-0 bg-light">
        <div class="card-body">
          <h5 class="card-title">Code Search</h5>
          <p class="card-text">Use the options below to search for existing public code or code from your
            own library.</p>
        </div>
        <form>
          <div class="form-group mr-3 ml-3">
            <label for="formGroupExampleSearch">Language</label>
            <select class="form-control" id="languageSearch">
              <option value="htmlembedded">HTML</option>
              <option value="css">CSS</option>
              <option value="handlebars">Handlebars</option>
              <option value="javascript">JavaScript</option>
              <option value="markdown">Markdown</option>
              <option value="sql">SQL</option>
            </select>
          </div>
          <div class="form-group mr-3 ml-3">
            <label for="formGroupExampleInput2">Keyword</label>
            <input type="text" class="form-control" id="searchtag" placeholder="object, loop, card, etc">
          </div>
          <button type="submit" id="searchcode" class="btn mb-2">Get some code</button>
        </form>
        <div id = "searchResults">

        </div>
        
      </div>
    </aside>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="js/sessions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>
{{!-- <script src="ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script> --}}