form.signup,
form.login {
  margin-top: 50px;
}
body{
  background-image: url(../assets/binary-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.member-name{
  color: black;
  text-align: center;
}


#parent {
    width:100%;
    height: 420px;
    display:inline-block;
    position:relative;
}
#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn{
background-color: #93E9BE;
color: darkgray;
border-color: #93E9BE;
border-radius: 10px;
}
.recentview{
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
}
.codesearch{
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
}
.mainform{
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
}
h2, p {
  color: black;
  font-family: Helvetica;
}

.login-box {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
}

label {
  color: black;
  font-family: Helvetica;
}

.quote {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 10%;
}